
/* 
// standard colors
header: #333
body: #fff
cards: #f4f4f4
button 1: #f9f3ac
button 2: #14c59f

// test 1
Brightly Orange Number 2: #f43a09

Grandpa Orange: #ffb766

Grey Blue Green: #c2edda

Live Green: #68d388

// test 2
Ragin Beige: #fff5d7

Coral Pink: #ff5e6c

Sleuthe Yellow: #feb300

Pink Leaf: #ffaaab

gradient colors: 
#e66465, #9198e5
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* General styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    font-size: 1em;
}

/* Utility Classes */
.hidden {
    visibility: hidden;
}

.btn {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.background-primary {
    background: #333;
}

.background-secondary {
    background: #fff;
}

.background-cards {
    background: #f4f4f4;
}

.btn-primary-color {
    background: #ff5e6c;
}

.btn-secondary-color {
    background: #fff5d7;
}

.btn-hover:hover {
    background: rgba(106, 106, 106, 0.33);
}

/* Navbar styling */
nav .title-text {
    background: linear-gradient(#fff, #e66465);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

nav .title-text h1 {
    margin-left: 40px;
    padding: 0.5em  0;
}

/* Main layout styling */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    grid-template-areas: "card1 card2 card3" "showcaseCard showcaseCard showcaseCard";
    gap: 2.5em;
    margin: 20px 40px;
} 

@media screen and (max-width: 860px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 1fr;
        grid-template-areas: "card1" "card2" "card3" "showcaseCard";
    } 
}

/* Cards styling */
main #card1 {
    grid-area: card1;
    max-height: 300px;
}
main #card2 {
    grid-area: card2;
}
main #card3 {
    grid-area: card3;
}
main .card {
    border-radius: 10px;
    padding: 10px;
}

main .card .card-items p {
    font-size: 0.8em;
}

main .card .card-items span {
    font-weight: bold;
}

main .card .card-items h2 {
    padding: 10px 0px;
}
main .card .card-items #btn-loan {
    margin-top: 35px; /* TODO: Remove this and replace with more adaptive solution */
}

/* Buttons styling */
main  .card .card-items #btn-repay-loan {
    padding: 10px 0px;
}

main .card .card-items .row-elements
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

main .card .card-items .row-elements #btns {
    margin: 60px 50px;
}

/* Showcase styling */
main .showcase {
    grid-area: showcaseCard;
}

main .showcase .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "product-img info-text payment-info";
    place-items: center;
    border-radius: 10px;
    padding: 20px 0px;
}
@media screen and (max-width: 860px) {
    main .showcase .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.4fr 0.4fr;
        grid-template-areas: "product-img" "info-text" "payment-info";
        grid-row-gap: 20px;
        padding: 10px;
    }
    
    main .card .laptop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

main .showcase .grid-container #product-img {
    grid-area: product-img;
    background: #f9f3ac;
    height: 100px;
    width: 100px;
}

main .showcase .grid-container #product-text-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .showcase .grid-container #payment-info {
    grid-area: payment-info;
}



/* Backup CSS!
/* Cards styling 
main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5em;
    margin: 20px 40px;
} 

main .cards .card {
    border-radius: 10px;
    padding: 10px;
}

main .cards .card .card-items p {
    font-size: 0.8em;
}

main .cards .card .card-items span {
    font-weight: bold;
}

main .cards .card .card-items h2 {
    padding: 10px 0px;
}
main .cards .card .card-items #btn-loan {
    margin-top: 35px;
}

/* Buttons styling 
main .cards .card .card-items #btn-repay-loan {
    padding: 10px 0px;
}

main .cards .card .card-items .row-elements
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

main .cards .card .card-items .row-elements #btns {
    margin: 60px 50px;
}

/* Showcase styling 
main .showCase {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 10px;

}

main .showCase .product-imgs {
    background: #f9f3ac;
    height: 100px;
    width: 100px;
    margin: auto;
}

main .showCase .product-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .showCase .product-info .text-container {
    margin: auto;
    width: 70%;
}


*/